$primary-font:'Quicksand', sans-serif;
$font-color: #fff;

$mobile-small: 3rem;
$mobile-med: 3.5rem;
$mobile-large: 4.75rem;

$mobile-landscape: 4rem;

$standard-small: 6rem;
$standard-med: 6.5rem;
$standard-large: 8.5rem;


$max-app-width: 1200px;