@import './colors';

.container-footer{
    width: 100%;
    height: 25vh;
    min-height: 300px;
    background-color: $top-gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5rem 0;
    .footer-top{
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .footer-img{
            width: 100%;
            height: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: auto;
                max-height: 100%;
                border-radius: 15px;
                box-shadow: 10px 10px 10px $bottom-gradiant;
            }
        }
        .footer-tagline{
            width: 95%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.15rem;

        }
    }
    .footer-bot{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .footer-name{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.05rem;
        }
        .footer-links{
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            font-weight: 100;
            font-size: 1rem;
            text-transform: lowercase;
        }
    }
}


@media (min-width: 425px) {
    .container-footer{
        width: 100%;
        height: 30vh;
        max-height: 350px;
        .footer-top{
            .footer-tagline{
                font-size: 1.5rem;
            }
        }
        .footer-bot{
            .footer-name{
                font-size: 1.25rem;
            }
            .footer-links{
                font-size: 1.15rem;
            }
        }
    }
}

@media (min-width: 576px) {
    .container-footer{
        width: 100%;
        height: 25vh;
        min-height: 250px;
        max-height: 325px;
        .footer-top{
            width: 80%;
            height: 55%;
            flex-direction: row;
            .footer-img{
                width: 50%;
                height: 85%;
            }
            .footer-tagline{
                width: 50%;
                height: 100%;
                font-size: 1.85rem;
                text-align: center;
    
            }
        }
        .footer-bot{
            width: 80%;
            .footer-name{
                width: 100%;
                height: 35%;
                font-size: 1.45rem;
            }
            .footer-links{
                height: 65%;
                font-size: 1.25rem;
                a{
                    margin: 2px 0;
                }
            }
        }
    }
}

@media (min-width: 768px) { 
    .container-footer{
        width: 100%;
        height: 25vh;
        max-height: 250px;
        .footer-top{
            width: 80%;
            height: 70%;
            flex-direction: row;
            .footer-img{
                width: 50%;
                height: 85%;
            }
            .footer-tagline{
                width: 50%;
                height: 100%;
                font-size: 2.25rem;    
            }
        }
        .footer-bot{
            height: 30%;
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            .footer-name{
                width: 45%;
                height: 100%;
                font-size: 1.5rem;
            }
            .footer-links{
                height: 100%;
                width: 55%;
                font-size: 1.10rem;
                flex-direction: row;
                a{
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 992px) {
 }

@media (min-width: 1200px) { }
