@import './colors';

.container-header{
    width: 100%;
    height: 50vh;
    min-height: 450px;
    max-height: 500px;
    padding: 1rem 0;
    overflow: hidden;
    background: url('../assets//background/header_img.jpg')  no-repeat center center /cover;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.5);
        z-index: 1;
    }
    
    .container-header-markup{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .header-image{
           display: none;
        }
        .header-content{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            z-index: 10;
            .header-title{
                height: 40%;
                width: 100%;
                font-size: 1.75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .header-info{
                width: 80%;
                height: 40%;
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .header-button{
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    width: 75px;
                    height: 75px;
                    background: none;
                    transform: rotate(90deg);
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (min-width: 376px) { 
    .container-header{
        .container-header-markup{
            .header-content{
                .header-title{
                    font-size: 2rem;
                }
                .header-info{
                    width: 75%;
                    font-size: 1.65rem;
                }
            }
        }
    }
}

@media (min-width: 576px) { 
    .container-header{
        .container-header-markup{
            .header-content{
                .header-title{
                    font-size: 2.25rem;
                }
                .header-info{
                    width: 70%;
                    font-size: 1.75rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    .container-header{
        width: 100%;
        height: 25vh;
        min-height: 400px;
        max-height: 450px;
        padding: 0.5rem 0;
        overflow: hidden;
        background: none;
        background-color: $header-background;
        .container-header-markup{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .header-image{
                display: block;
                width: 50%;
                height: 90%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .header-content{
                width: 45%;
                height: 95%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                
                .header-title{
                    height: 40%;
                    width: 100%;
                    font-size: 1.85rem;
                    align-items: flex-start;
                }
                .header-info{
                    width: 90%;
                    height: 45%;
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: left;
                }
                .header-button{
                    width: 100%;
                    height: 15%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    button{
                        width: 75px;
                        height: 75px;
                        background: none;
                        transform: rotate(90deg);
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 992px) { }

@media (min-width: 1200px) { }



// @media (min-width: 576px) { }

// @media (min-width: 768px) { }

// @media (min-width: 992px) { }

// @media (min-width: 1200px) { }
