@import './colors';
@import './font';

.container-projects{
    width: 100%;
    height: 200vh;
    max-height: 900px;
    background-color: $header-background;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .container-title{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $title-small;
    }
    .container-projects-list{
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .container-project-view{
            width: 100%;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            .container-project{
                width: 100%;
                height: 50%;
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.25rem;

            }
            .container-view{
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }
    }

}