@import './colors';
@import './font';

.container-projects{
    width: 100%;
    height: 200vh;
    max-height: 875px;
    background-color: $header-background;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    .container-title{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $title-small;
    }
    .container-projects-list{
        width: 100%;
        flex: 1;

        .container-project-view{
            width: 100%;
            margin: 25px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            .container-project{
                width: 100%;
                height: 75px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 800;
                background-color: $primary-indigo;
                position: relative;
                h3{
                    z-index: 10;
                    display: none;
                }
                &:hover{
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #36307d9d;
                        z-index: 1;
                        overflow: hidden;
                    }
                    h3{
                        display: block;
                    }
                }
                &.GoGoDango{
                    background: url('../assets/projects/headerLogo.png')  no-repeat center center /cover;
                }
                &.Pixel_Bee_E-Commerce{
                    background: url('../assets/projects/pixelBee.jpg')  no-repeat center center /cover;
                }
                &.The_Factory{
                    background: url('../assets/projects/theFactory.png')  no-repeat center center /cover;
                }
                &.Dr_Hoops{
                    background: url('../assets/projects/drHoops.png')  no-repeat center center /cover;
                }
            }
            .container-view{
                width: 100%;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }
    }

}
