.container-skill{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {
    .container-skill{
        font-size: 1rem;
        max-width: 125px;
        max-height: auto;
    }
    
}
@media (min-width: 992px) {
    .container-skill{
        font-size: 1.25rem;
        max-width: 145px;
        max-height: auto;
    }
    
}