.container-timeline{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .timeline-icon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 75px;
            height: auto;
        }

    }
    .timeline-list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            text-align: center;
            li{
                padding-bottom: 5px;
                h4{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 0.95rem;
                }
            }
        }

    }
}


@media (min-width: 576px) {
    .container-timeline{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .timeline-icon{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
    
            img{
                width: 85px;
                height: auto;
            }
    
        }
        .timeline-list{
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                li{
                    padding-bottom: 10px;
                    h4{
                        font-size: 1.5rem;
                    }
                    p{
                        font-size: 0.95rem;
                    }
                }
            }
    
        }
    }
    
 }

@media (min-width: 768px) { 
    .container-timeline{
        .timeline-list{
            ul{
                li{
                    h4{
                        font-size: 1.75rem;
                    }
                    p{
                        font-size: 1.15rem;
                    }
                }
            }
    
        }
    }
}

@media (min-width: 992px) { 
    .container-timeline{
        .timeline-list{
            ul{
                li{
                    h4{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.25rem;
                    }
                }
            }
    
        }
    }
}

@media (min-width: 1200px) { 
    .container-timeline{
        .timeline-list{
            ul{
                li{
                    padding-bottom: 15px;
                    h4{
                        font-size: 2.1rem;
                    }
                    p{
                        font-size: 1.35rem;
                    }
                }
            }
    
        }
    }
}
